*{
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: lavenderblush;
    
  }
  .pics-sect{
    margin-top:2rem ;
  }
  .text p{
    text-align: center;
    color: #800000;
    font-weight: bold;
    font-size: 2rem;
   }
  
  header {
    background-color: rgb(44, 45, 48);
  }
  
  .MEEE{
    border-bottom: 1px solid rgb(71, 71, 71);
    margin-bottom: 10px;
    font-weight: bolder;
      font-size: large;
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-shadow: 2px 2px saddlebrown;
  }
  
  .MEEE a,
  .nav-item a {
    padding: 10px 5px;
    color: #f4f4f4;
    display: block;
    text-decoration: none;
    transition: all 200ms ease-in;
  }
  
  .MEEE a:hover,
  .nav-item a:hover {
    background-color: rgb(33, 33, 36);
  }
  
  .nav-menu .nav-menu-list {
    list-style: none;
  }
  
  .About-pics{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      padding: 2.5rem;
    
  }
  .About-pics img{
   width: 100%;
   height: 400px;
  }
  @media (min-width: 768px){
    nav,
    .nav-menu-list {
      display: flex;
      align-items: center;
    }
  
    nav {
      justify-content: space-between;
    }
  
    .MEEE {
      margin-bottom: 0;
      font-weight: bolder;
      font-size: x-large;
      text-decoration-line: underline;
      text-decoration-style: wavy;
    }
  
    .MEEE a,
    .nav-item a {
      padding: 20px 15px;
    }
  }
  @media (min-width: 1025px) {
    nav {
      width: 80%;
      margin: 0 auto;
    }
  }